{
  "rules": {
    "indent": ["error", 2],
    "complexity": ["error", 4],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
