    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tecnologias do projeto</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a target="_blank" href="https://nodejs.org/en">NodeJS</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://www.mongodb.com">MongoDB</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://git-scm.com">Git</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://heroku.com">Heroku</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://www.codacy.com">Codacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
